.main-shell .profile-container {
  height: 100%;
  font-size: 14px; }
  .main-shell .profile-container .profile-name {
    font-weight: 500; }

.invert {
  -webkit-filter: invert(100%);
  filter: invert(100%); }

.logo {
  background: url("../../assets/images/gg2.png") no-repeat; }

.small-logo {
  width: 60px;
  height: 60px;
  background-size: 60px; }

.center {
  margin: 0px auto; }

.big-logo {
  width: 120px;
  height: 120px;
  background-size: 120px; }

.override-padding {
  padding: 0px !important;
  max-height: 400px; }
  .override-padding md-list {
    overflow: hidden; }

.menu-ativo {
  background-color: #212121;
  color: rgba(255, 255, 255, 0.87); }

md-toast.error-toast .md-toast-content {
  background-color: rgba(216, 67, 21, 0.8); }

md-icon.block {
  display: block;
  height: 50px;
  width: 50px; }

.data-pequena {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.010em;
  margin: 0 0 0 0;
  line-height: 1.6em; }
  .data-pequena .cinza {
    color: #e0e0e0; }

.ativo,
.entrada {
  color: green; }

.inativo,
.saida {
  color: red; }

.checkbox-align {
  text-align: right; }
