<md-dialog aria-label="Movimento" flex="50">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-show="!editar">Novo movimento</h2>
                <h2 ng-show="editar">Alterar movimento</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="fechar()">
                    <md-icon md-svg-icon="icons:close" aria-label="Fechar"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <span ng-show="false">{{dto.tipo = fields.tipo}} {{dto.codigoFolha = fields.codigoFolha}}</span>
        <md-dialog-content ng-form="form">
            <div class="md-dialog-content" flex>
                <div layout="row">
                    <md-input-container flex>
                        <md-radio-group ng-model="fields.tipo">
                            <md-radio-button value="E">Ganho</md-radio-button>
                            <md-radio-button value="S">Gasto</md-radio-button>
                        </md-radio-group>
                    </md-input-container>
                </div>
                <div layout-xs="column" layout="row">
                    <md-input-container flex-gt-xs="20" flex>
                        <label>Valor (R$)</label>
                        <input ng-model="dto.valor" name="valor" ui-money-mask="2" required />
                        <div ng-messages="form.valor.$error">
                            <div ng-message="required">Campo Valor (R$) é obrigatório</div>
                        </div>
                    </md-input-container>
                    <span flex-gt-xs="5" flex="5"></span>
                    <md-input-container flex-gt-xs="75" flex>
                        <label>Descrição</label>
                        <textarea cols="100" ng-model="dto.descricao" name="descricao" required></textarea>
                        <div ng-messages="form.descricao.$error">
                            <div ng-message="required">Campo Descrição é obrigatório</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-warn md-hue-2" ng-click="fechar()">
                Cancelar
            </md-button>
            <md-button class="md-raised md-primary" ng-click="salvar(dto)">
                Salvar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>